<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Sorry | SleeveNote</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="icon" href="/static/images/icon.jpg">
	</head>
	<body>

		<div class="navbar">
			<div class="logo">
				<a href="/"><img src="/static/images/logo.png" id="logo"></a>
			</div>

			<div class="navlinks">
				<a href="/search">Search</a>
				<a href="/new-releases">New Releases</a>
				<a href="/profile">Profile</a>
				<a href="/login">Log In</a>
				<a href="/logout" title="log out"><i class="fas fa-sign-out-alt"></i></a>
			</div>
		</div>

        <div class="apology">
            <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://upload.wikimedia.org/wikipedia/en/d/dc/Justin_Bieber_-_Sorry_%28Official_Single_Cover%29.png" title="{{ top }}">
        </div>

