<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Register | SleeveNote</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="icon" href="/static/images/icon.jpg">
	</head>
	<body>

		<div class="navbar">
			<div class="logo">
				<a href="/"><img src="/static/images/logo.png" id="logo"></a>
			</div>

			<div class="navlinks">
				<a href="/search">Search</a>
				<a href="/new-releases">New Releases</a>
				<a href="/profile">Profile</a>
				<a href="/login">Log In</a>
				<a href="/logout" title="log out"><i class="fas fa-sign-out-alt"></i></a>
			</div>
		</div>

		<!-- One -->
		<section class="wrapper style1">
			<div class="register">
                <form action="/register" method="post">
                    <input type="text" name="username" placeholder="Username" autofocus>

                    <input type="password" name="password" placeholder="Password">

                    <input type="password" name="confirmation" placeholder="Password (again)">

                    <button type="submit">Register</button>
                </form>
                <p>Already a User? <a href="/login">Login</a></p>
            </div>
        </section>

		<div class="footer fix">
        	<div class="footer-content">
            	<p>Made with &#9825; by Ash from Cairo, Egypt.</p>
        	</div>
    	</div>

        <!-- Scripts -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.scrolly.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>

    </body>
</html>